#!/usr/bin/fish
# base16-fish-env (https://github.com/base16-env/base16-env)
# base16 fish-env template by chris kempson (http://chriskempson.com)
# {{scheme-name}} scheme by {{scheme-author}}

set -g -x base00 "{{base00-hex}}"
set -g -x base01 "{{base01-hex}}"
set -g -x base02 "{{base02-hex}}"
set -g -x base03 "{{base03-hex}}"
set -g -x base04 "{{base04-hex}}"
set -g -x base05 "{{base05-hex}}"
set -g -x base06 "{{base06-hex}}"
set -g -x base07 "{{base07-hex}}"
set -g -x base08 "{{base08-hex}}"
set -g -x base09 "{{base09-hex}}"
set -g -x base0A "{{base0A-hex}}"
set -g -x base0B "{{base0B-hex}}"
set -g -x base0C "{{base0C-hex}}"
set -g -x base0D "{{base0D-hex}}"
set -g -x base0E "{{base0E-hex}}"
set -g -x base0F "{{base0F-hex}}"

