#!/usr/bin/fish
# base16-fish-env (https://github.com/base16-env/base16-env)
# base16 fish-env template by chris kempson (http://chriskempson.com)
# {{scheme-name}} scheme by {{scheme-author}}

set -g base00 #{{base00-hex}}
set -g base01 #{{base01-hex}}
set -g base02 #{{base02-hex}}
set -g base03 #{{base03-hex}}
set -g base04 #{{base04-hex}}
set -g base05 #{{base05-hex}}
set -g base06 #{{base06-hex}}
set -g base07 #{{base07-hex}}
set -g base08 #{{base08-hex}}
set -g base09 #{{base09-hex}}
set -g base0A #{{base0A-hex}}
set -g base0B #{{base0B-hex}}
set -g base0C #{{base0C-hex}}
set -g base0D #{{base0D-hex}}
set -g base0E #{{base0E-hex}}
set -g base0F #{{base0F-hex}}

